#wrapper {
    width: 1280px;
    height: 960px;
}
body {
    background-image:url(pic.jpg);
}
h2 {
    text-align: center;
    font-size: 70px;
    color: darkblue;
    margin-top: 20px;
}
#nav {
    height: 40px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}
#main {
    width: 650px;
    height: 450px;
    background-color: lightgray;
    margin-left: 275px;
}