#wrapper {
    width: 1280px;
    height: 960px;
}
body {
    background-image:url(pic.jpg);
}
h2 {
    text-align: center;
    font-size: 70px;
    color: darkblue;
    margin-top: 20px;
}
#nav {
    height: 40px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}
#main {
    width: 850px;
    height: 750px;
    background-color: lightgray;
    margin-left: 220px;
    margin-top: 10px;
}
/* hover link */
a:hover {
    background-color: lightblue;
}
/* selected link */
a:active {
    background-color: lightcyan;
}
/* unvisited link */
a:link {
    color: purple;
}
#div1 {
    width: 650px;
    height: 550px;
    background-color: lightskyblue;
    margin-left: 290px;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
}